@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=REM&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-black: black;
    --color-white: white;
    --theme-color: #ED2647;
    --theme-light-color: #FF5858;

}

html,
body {
    overflow-x: hidden;
    height: 100%;
}

body {
    background-color: #fff;
    padding: 0;
    margin: 0;
}

.header {

    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 10;
}

.navbar {
    background-color: #ecf0f1;

}

/* .main {
    margin-left: 90px;
    height: 100%;
    margin-top: 50px;
    padding: 10px 30px;
    font-family: 'Roboto Slab', serif;
} */

#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 110px;
    margin-top: 55px;
    background-color: var(--theme-light-color);
    padding-top: 1em;
}

#sidebarMenu ul {
    padding-left: 0px;
    list-style: none;
}

.h3 {
    font-size: 50px;
}


.menu {
    height: 100%;
    padding-top: 0;
    margin-top: 0;
}

.menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;

}

.menu h3 {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.menu a {
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-family: 'REM', sans-serif;
}

.container-fluid a {
    color: var(--theme-light-color);
    text-decoration: none;
    text-align: center;
}

.container-fluid h4 {
    text-align: center;
    margin-bottom: 0;
}


.navbar-brand img {
    height: 25px;
    width: 160px;
}

.men {

    display: flex;
    margin-top: 58px;
    margin-left: 110px;
    width: auto;
    height: 100vh;
    font-family: 'Roboto Slab', serif;

}

.info {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.info h1 {
    text-align: center;
}


table {
    margin-top: 50px;
    width: 800px;
    border-collapse: collapse;
    border-radius: 10px;
    background-color: var(--theme-light-color);
    color: var(--color-white);
}

td,
th {
    /* border: 1px solid black; */
    padding: 8px;
}

tr.image img {
    max-width: 100px;
    max-height: 100px;
}


.buton {
    width: 20%;
}





@media (max-width:500px) {
    .Txt {
        font-size: 13px;
    }

    #sidebarMenu {
        width: 85px;
        margin-top: 55px;

    }

    .h3 {
        font-size: 30px;
    }
}