@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=REM&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-black: black;
    --color-white: white;
    --theme-color: #ED2647;
    --theme-light-color: #FF5858;

}

html,
body {
    overflow-x: hidden;
    height: 100%;
}

body {
    background-color: #fff;
    padding: 0;
    margin: 0;
}

.header {

    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 10;
}

.navbar {
    background-color: #ecf0f1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);



}

/* .main {
    margin-left: 90px;
    height: 100%;
    margin-top: 50px;
    padding: 10px 30px;
    font-family: 'Roboto Slab', serif;
} */

.h3 {
    font-size: 50px;
}


.menu {
    height: 100%;
    padding-top: 0;
    margin-top: 0;
}

.menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;

}

.menu h3 {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.menu a {
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-family: 'REM', sans-serif;
}

.container-fluid a {
    color: var(--theme-light-color);
    text-decoration: none;
    text-align: center;
}

.container-fluid h4 {
    text-align: center;
    margin-bottom: 0;
}


.navbar-brand img {
    height: 25px;
    width: 160px;
}

.DDs {
    background-color: #ecf0f1;
    display: flex;
    height: 50px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    position: fixed;
    z-index: 1999;
    padding: 3px 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}

.DDs a {
    /* color: var(--color-white); */
    color: var(--theme-light-color);
    text-decoration: none;
    text-align: center;
    width: 70px;
    z-index: 2000;

}

.Ds a:hover {
    color: var(--color-white);
    border-radius: 5px;
    background-color: var(--theme-light-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}

.Ds {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Ds h3 {
    text-align: center;
}

.men {

    display: flex;
    margin-top: 60px;
    width: auto;
    height: 100vh;
    font-family: 'Roboto Slab', serif;

}

.info {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.info h1 {
    text-align: center;
}

.buton a {
    border: 2px solid var(--theme-light-color);
    color: var(--theme-light-color);
    text-decoration: none;
    padding: 3px;
}

.buton a:hover {
    background-color: var(--theme-light-color);
    color: var(--color-white);
}

table {
    margin-top: 50px;
    width: 800px;
    border-collapse: collapse;
    border-radius: 10px;
    background-color: var(--theme-light-color);
    color: var(--color-white);
}

table:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    /* Apply shadow on hover */
}

td,
th {
    /* border: 1px solid black; */
    padding: 8px;
}

tr.image img {
    max-width: 100px;
    max-height: 100px;
}


.buton {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    /* justify-content: center; */
}

.buton a {
    margin-top: 100px;
}

.YES {
    display: none;
}

/* responsives queries */